.sectionButtonUp {
    height: 20px;
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%, 0% 0%);
    background-color: #fd0;
}

.sectionButtonDown {
    height: 20px;
    clip-path: polygon(100% 0%, 100% 100%, 0% 0%, 100% 0%);
    background-color: #fd0;
}